! Source terminal colors
#include ".xcolors/base16-default-dark-256.Xresources"

! Font settings
Xft.dpi:       105
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt.font:                       xft:Droid Sans Mono:Regular:size=10

! Rxvt-unicode settings
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                false
URxvt*saveLines:                  5000

! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard

! Move by word
URxvt.keysym.Control-Left:        \033[1;5D
URxvt.keysym.Control-Right:       \033[1;5C
